@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 80%;
    margin: auto;
}

.number-input {
    padding: 8px;
    line-height: 24px;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    outline: none;
    transition: border-color 0.2s;
}

.number-input:hover {
    border-color: #3b82f6;
}

.number-input:focus {
    border-color: #2684ff;
    box-shadow: 0 0 0 1px #2684ff;
}

.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-input {
    -moz-appearance: textfield;
}